* {
    background-color: bisque;
}

a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}

#openings {
    margin-top: 20px;
}

#interest {
    display: flex;
    flex-direction: column;
    width: 200px;
}

